#enter-todo {
    height: 30px;
    width: 500px;
    border: none;
    border-bottom: 6px solid grey;
    background-color: black;
    color: grey;
    outline: none;
}

#add-todo {
    height: 39px;
    width: 140px;
    background-color: grey;
    border: 2px solid grey;
}

#todo-creation {
    margin-top: 100px;
}

#add-todo:hover {
    background-color: lightgray;
    transition: 0.7s;
    border: 2px solid lightgray;
    cursor: pointer;
}